@media (prefers-color-scheme: light) {
    .body {
        --background: url('../images/cover-image-light.png');
        --dark: #000028;
        --dusk: #353430;
        --light: #FFF1F7;
        --bright: #FF0070;
        --brightest: #FFC2E6;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: url('../images/cover-image.png');
        --dark: #000028;
        --dusk: #353430;
        --light: #F1B2CE;
        --bright: #FF0070;
        --brightest: #DB00FF;
    }
}