
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

picture {
    margin: 0;
    padding: 0;
}

button,
a {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


h2:not(.pictures__title):not(.footer__title) {
    color: var(--text-color-highlight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
    text-align: left;
}

h3, h4 {
    color: var(--text-color-transparent);
    background-color: var(--highlighted-area);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
}

p {
    color: var(--text-color-main);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-normal);
}




