/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.page {
  background-color: var(--background-color);
  /*background-image: url(../images/cover-image-dark.png);*/
  background-image: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
  height: 100vh;
  color: var(--highlighted-area);
  font-size: var(--font-size);
}

.rec-symbol {
  Position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 18px;
}

  .header__theme-menu-list {
    display: flex;
    gap: 12px;
  }

  .header__theme-menu-button {
    border: none;
    text-align: center;
    border-block-end: 1px solid transparent;
    color: var(--text-color-highlight);
    font-size: 18px;
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
    line-height: 1.125rem;
  }

  .page-title {
    color: var(--heading-color);
    font-weight: bold;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-size: var(--title-size);
    text-shadow: 4px 4px 0 var(--text-color-highlight);
  }

    .header__title {
      color: var(--text-color-transparent);
      font-family: 'IBM Plex Mono', monospace, sans-serif;
      font-weight: 700;
      font-size: inherit;
      line-height: inherit;
      background: var(--highlighted-area);
      line-height: var(--line-height);
    }

    h2:not(.pictures__title):not(.footer__title) {
      color: var(--text-color-highlight);
      font-size: var(--font-size);
      line-height: var(--line-height);
      font-weight: var(--font-weight-bold);
      text-align: left;
    }

    h3, h4 {
      color: var(--text-color-transparent);
      background-color: var(--highlighted-area);
      font-size: var(--font-size);
      line-height: var(--line-height);
      font-weight: var(--font-weight-bold);
    }

      p {
        color: var(--text-color-main);
        font-size: var(--font-size);
        line-height: var(--line-height);
        font-weight: var(--font-weight-normal);
      }

      .main a {
        border: 1px solid transparent;
        text-decoration: none;
        text-shadow: 1px 1px 0 var(--text-color-highlight);
      }

      .main a:hover {
        border-bottom: 1px solid currentColor;
      }

      .main a:focus {
        outline: none;
      }

      .main a:focus-visible {
        border: 1px solid var(--text-color-main);
      }

      .pictures__title {
        color: var(--text-color-transparent);
        background-color: var(--highlighted-area);
        font-size: var(--font-size);
        line-height: var(--line-height);
        font-weight: var(--font-weight-bold);
      }

      .pictures__cards img {
        width: 100%;
        object-fit: cover;
      }

      .footer {
        position: relative;
        display: grid;
        grid-template-rows: 1fr min-content 1fr;
        align-self: center;
      }

      .footer__title {
        margin: 0;
        grid-row: 2;
        justify-self: center;
        font-weight: var(--font-weight-bold);
        color: var(--heading-color);
        text-shadow: 4px 4px 0 var(--text-color-highlight);
      }