@media (768px <= width <= 1023px) {

    .page {
        min-width: 768px;
        max-width: 990px;
        margin-top: 20px;
        padding-right: 20px;
    }

    .header {
        max-height: 1024px;
        grid-template-rows: 50px 244px 272px 394px 34px;
        align-items: start;
    }

    .decorated-zone::after {
        margin-left: 20px;
    }

    .rec-symbol {
        right: 8px;
        line-height: 25px;
        font-size: 20px;
    }

    .rec-symbol::after {
        content: "";
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px var(--highlighted-area);
        background-color: var(--highlighted-area);
        margin-left: 10px;
    }

    .header__theme-menu {
        justify-self: end;
        color: var(--text-color-highlight);
        margin-top: 122px;
    }

    .header__theme-menu-list {
        flex-direction: column;
        gap: 10px;
    }


    .header__theme-menu-button {
        min-inline-size: 68px;
        letter-spacing: 0.05em;
        padding: 3px 11px;
        font-weight: var(--font-weight-normal);
        line-height: 18px;
    }

    .header__theme-menu-button:hover {
        min-inline-size: 68px;
        border: var(--border-style);
    }

    .header__theme-menu-button:focus {
        border: var(--border-style__hover);
        border-block-end: 1px solid transparent;
        color: var(--text-color-highlight);
        font-size: 18px;
        text-align: center;
        text-transform: lowercase;
        background-color: transparent;
        cursor: pointer;
        min-inline-size: 68px;
    }

    .header__theme-menu-button:focus-visible {
        border: var(--border-style__hover);
        border-block-end: 1px solid transparent;
        color: var(--text-color-highlight);
        font-size: 18px;
        text-align: center;
        text-transform: lowercase;
        background-color: transparent;
        cursor: pointer;
        min-inline-size: 68px;
    }

    .header__theme-menu-button_active {
        border: var(--border-style__hover);
        cursor: pointer;
    }

    .page-title {
        font-size: var(--title-size);
        margin-top: 132px;
        text-shadow: 4px 4px 0 var(--text-color-highlight);
        letter-spacing: 0.4rem;
        line-height: 6.188rem;
        justify-self: start;
        align-self: center;

    }

    .header__title {
        margin-top: 139px;
        padding-right: 20px;
        text-align: left;
        width: 364px;
        align-self: start;
        justify-self: end;
        letter-spacing: 0.05rem;
    }

    /* Articles */

    .articles {
        margin-top: 200px;
    }

    h2:not(.pictures__title):not(.footer__title) {
        margin: 50px 20px 10px 10px;
    }

    h3, h4 {
        text-align: left;
    }

    h3 {
        margin: 10px auto;
    }

    h4 {
        margin: 20px 10px 10px 10px;
    }

    p {
        text-align: left;
    }

    .article-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .title-question {
        grid-column: 1 / 2;
        width: 30%;
    }

    .one-column {
        grid-column: 2 / 4;
        width: 100%;
    }

    .rows-layout {
        display: grid;
        grid-template-columns: 1fr, auto, auto, auto;
        grid-template-rows: repeat(4, auto);
    }

    .dense-title {
        grid-column: 1 / 2;
        grid-row: 1;
        width: 25%
    }

    .golden-fish-question {
        width: 50%;
    }

    .multitasking {
        grid-row: 2;
    }

    .food {
        grid-row: 3;
    }

    .gadgets {
        grid-row: 4;
    }

    .pictures__title {
        text-align: left;
        margin: 50px 10px 10px 10px;
    }

    .pictures__cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        margin-bottom: 65px;
    }

    .sunset {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 192px;
    }

    .ice-cream {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 441px;
    }

    .tape {
        grid-row-start: 2;
        grid-row-end: 4;
        height: 568px;
    }

    .street {
        grid-column-start: 2;
        grid-column-end: 4;
        height: 318px;
    }

    .books {
        height: 230px;
    }

    .pictures__cards img {
        width: 100%;
    }

    .footer {
        min-height: 668px;
    }

    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}
