
 @media (min-width: 375px) and (max-width: 767px) {

    .page {
        max-width: 375px;
    }

    .header {
        display: grid;
        grid-template-rows: 1fr min-content 1fr;
        max-height: 668px;
        max-width: 375px;
        padding: 10px;
        grid-template-areas:
        "top-row"
        "second-row"
        "third-row";
        background-image: var(--background);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    .main {
        background-color: var(--background-color);
    }

    .footer {
        min-height: 668px;
    }

    .page-title {
        font-size: var(--title-size);
        line-height: 81%;
        letter-spacing: -0.02em;
    }

    .header__title {
        align-self: center;
        width: 355px;
    }

    .title-question {
        margin-top: 40px;
    }

    .dense-title, .golden-fish-question, .pictures__title {
        margin-top: 50px;
    }

    .title-question, .dense-title, .golden-fish-question {
        margin-bottom: 20px;
    }

    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    h2, h3, h4 {
        text-align: left;
        font-family: var(--font-family);
        font-weight: var(--font-weight-bold);
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 20px;
    }

    .pictures__title {
        margin-bottom: 10px;
        margin-inline: 10px;
    }

    main p {
        font-size: var(--font-size);
        font-weight: var(--font-weight-normal);
        line-height: 1.463rem;
        font-family: var(--font-family);
        text-align: left;
    }

    .header__theme-menu {
        color: var(--text-color-highlight);
        align-self: end;
        justify-self: end;
        width: max-content;
        grid-area: top-row;
        margin-block: 65px;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: max-content;
    }

    .header__theme-menu-button {
        min-inline-size: 70px;
        color: var(--text-color-highlight);
        font-size: 18px;
        text-align: center;
        text-transform: lowercase;
        background-color: transparent;
        cursor: pointer;
    }

    .header__theme-menu-button:hover {
        outline: var(--border-style__hover);
        outline-offset: 1px;
    }
    .header__theme-menu-button:focus {
        outline: none;
        border-bottom: var(--border-style);
    }

    .header__theme-menu-button:focus-visible {
        outline: none;
        border-bottom: var(--border-style);
    }

    .header__theme-menu-button_active {
        outline: var(--border-style);
        outline-offset: 1px;
        cursor: pointer;
    }

     .rec-symbol {
         position: absolute;
         display: flex;
         color: var(--highlight);
         right: 30px;
         top: 10px;
         font-size: 18px;
         justify-self: end;
         justify-content: end;
     }

     .rec-symbol::after {
         position: relative;
         content: "";
         width: 10px;
         height: 10px;
         border-radius: 50%;
         box-shadow: 0 0 4px 2px var(--highlighted-area);
         background-color: var(--highlighted-area);
         left: 10px;
         top: 7px;
     }

     .decorated-zone::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        border-inline-end: 1px solid var(--highlighted-area);
        border-block-start: 1px solid var(--highlighted-area);
    }

    .decorated-zone::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 25px;
        height: 25px;
        border-inline-start: 1px solid var(--highlighted-area);
        border-block-end: 1px solid var(--highlighted-area);
    }

    .articles {
        padding: 0 10px;
    }

    .tips-container p {
        padding-top: 10px;
    }

    .pictures__cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 10px 40px 10px;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .pictures__cards img {
        width: 100%;
        object-fit: cover;
    }
}