/* Section 1, general styles */

body {
    background-color: var(--background-color);
}

.page {
    margin: 0 auto;
    font-family: var(--font-family);
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid var(--corner-color);
}

.decorated-zone::before {
    top: 0;
    right: 0;
    border-inline-end: 1px solid var(--corner-color);
    border-block-start: 1px solid var(--corner-color);
}

.decorated-zone::after {
    bottom: 0;
    left: 0;
    border-inline-start: 1px solid var(--corner-color);
    border-block-end: 1px solid var(--corner-color);
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: none;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 3px;
    color: var(--text-button);
    font-size: var(--font-size);
    line-height: 1em;
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border-bottom: 1px solid var(--border-style__hover);

    .header__theme-menu-button_active {
        border: 1px solid var(--border-style);
    }


.page-title {
    color: var(--heading-color);
    font-weight: var(--font-weight-bold);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-size: var(--title-size);
    text-shadow: 4px 4px 0 var(--);
}

.header__title {
    color: var(--text-color-transparent);
    font-weight: 700;
    background: var(--highlighted-area);
}

.main a {
    border: 1px solid transparent;
    text-decoration: none;
    text-shadow: 1px 1px 0 var(--text-color-highlight);
}

    .main a:hover {
    border-bottom: 1px solid currentColor;
}

.main a:focus {
    outline: none;
}

.main a:focus-visible {
    border: 1px solid currentColor;
}

.pictures__title {
    color: var(--text-color-transparent);
    background-color: var(--highlighted-area);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
}

.pictures__cards img {
    width: 100%;
    object-fit: cover;
}

.footer {
    height: 100vh;
    min-height: 668px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-self: center;
}

.footer__title {
    margin: 0;
    grid-row: 2;
    justify-self: center;
    font-weight: var(--font-weight-bold);
    color: var(--heading-color);
    text-shadow: 2px 2px 0 var(--text-color-highlight);
    font-size: var(--title-size);
    line-height: var(--line-height-titles);
}

.rec-symbol {
    display: var(--rec-display);
    visibility: var(--rec-visibility);
}

/* Section 2 small resolution */


@media (425px < width <= 768px) {
    .main-text-content {
        max-width: 472px;
    }
}

@media (width <= 767px) {
    .page {
        max-width: 375px;
        min-width: 375px;
    }

    .header {
        max-height: 668px;
        max-width: 375px;
        padding: 10px;
        grid-template-areas:
            "top-row"
            "second-row"
            "third-row";
    }

    .footer {
        min-height: 668px;
    }

    .page-title {
        font-size: var(--title-size);
        line-height: 81%;
        margin-top: 2px;
    }

    .header__title {
        align-self: center;
        width: 355px;
    }

    .title-question {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .footer__title {
        margin-top: 2px;
        letter-spacing: 0.01em;
    }

    .pictures__title {
        margin-bottom: 11px;
        margin-inline: 10px;
    }

    main p {
        font-size: var(--font-size);
        font-weight: var(--font-weight-normal);
        line-height: 1.463rem;
        text-align: left;
    }

    .header__theme-menu {
        margin-block: 65px;
    }

    .pictures__cards {
        padding: 0 10px 40px 10px;
    }

    @media (prefers-color-scheme: dark) {
        .special-link {
            border-bottom: 1px solid var(--light);
        }
    }


    /* Section 3 resolution mid */

    @media (width > 768px) {
        .main-text-content {
            max-width: 648px;
        }
    }

    @media (768px <= width <= 1023px) {
        .page {
            max-width: 768px;
        }

        .header {
            padding: var(--padding-desktop);
            max-width: 1024px;
        }

        .rec-symbol {
            top: 0;
            right: 10px;
        }

        .decorated-zone::before {
            top: 20px;
            right: 20px;
        }

        .decorated-zone::after {
            bottom: 20px;
            left: 20px;
        }

        .header__theme-menu {
            width: 230px;
            margin-top: 70px;
            max-width: 70px;
        }

        .header__title {
            margin-bottom: 70px;
            width: 364px;
        }
    }


    /* Section 4 large resolution */

    @media (width > 1023px) {
        .page {
            max-width: 1024px;
        }

        .header {
            grid-template-rows: 1fr min-content 1fr;
        }

        .footer {
            height: 100vh;
            min-height: 668px;
        }
    }



