/*
 Здесь у нас находятся стили для мобильного варианта.
 Стили для среднего и большого экрана находятся в файлах
 styles/resolution_mid.css и styles/resolution_big.css

 При работе с другими разрешениями надо учитывать эти
 параметры, добавляя в файлы под другие разрешения
 только необходимые уникальные параметры.

 При подключении стилей в HTML необходимо соблюдать порядок
 подключения (style, resolution_mid, resolution_big).

 Если будет время, можно попробовать сделать bundle, чтобы
 подключать все стили в одном файле.
*/

/* Page */
body {
    background-color: var(--background-color);
}
.page {
    margin: 0 auto;
    font-family: var(--font-family);
    background-attachment: fixed

}

/* Decorated zone */
.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-inline-end: 1px solid var(--corner-color);
    border-block-start: 1px solid var(--corner-color);
}

.decorated-zone::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-inline-start: 1px solid var(--corner-color);
    border-block-end: 1px solid var(--corner-color);
}

/* Header */

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: none;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 3px;
/*    border-block-end: 1px solid transparent;*/
    color: var(--text-button);
    font-size: var(--font-size);
    line-height: 1em;
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
}

.page-title {
    color: var(--heading-color);
    font-weight: var(--font-weight-bold);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-size: var(--title-size);
    text-shadow: 4px 4px 0 var(--shadow);
}

.header__title {
    color: var(--text-color-transparent);
    font-weight: 700;
    background: var(--highlighted-area);
}

.header__theme-menu-button:hover {
    border-bottom: 1px solid var(--border-style__hover);

    .header {
        position: relative;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: start;
        height: 100vh;
        color: var(--highlighted-area);
        background-image: var(--background);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}
/*.header__theme-menu-button:focus {
    border-bottom: 1px solid var(--border-style__hover);

}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--border-style__hover);
}*/

.header__theme-menu-button_active {
    border: 1px solid var(--border-style);
}



/*    outline: var(--border-style);
    outline-offset: 1px;*/


/* Main */
.main a {
    border: 1px solid transparent;
    text-decoration: none;
    text-shadow: 1px 1px 0 var(--text-color-highlight);
}


.main a:hover {
    border-bottom: 1px solid currentColor;
}

.main a:focus {
    outline: none;
}

.main a:focus-visible {
    border: 1px solid var(--text-color-main);
}



/* Pictures */
.pictures__title {
    color: var(--text-color-transparent);
    background-color: var(--highlighted-area);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
}

.pictures__cards img {
    width: 100%;
    object-fit: cover;
}

/* Footer */
.footer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-self: center;
}

.footer__title {
    margin: 0;
    grid-row: 2;
    justify-self: center;
    font-weight: var(--font-weight-bold);
    color: var(--heading-color);
    text-shadow: 2px 2px 0 var(--text-color-highlight);
    letter-spacing: -0.02em;
}

.rec-symbol {
    display: var(--rec-display);
    visibility: var(--rec-visibility);
}

