body {
    background-color: var(--background-color);
}

.page {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Decorated zone */

.rec-symbol {
    position: absolute;
    display: flex;
    gap: 10px;
    color: var(--highlight);
    top: 0;
    font-size: 18px;
    grid-area: top-row;
    justify-self: end;
    justify-content: end;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: "";
    grid-area: top-row;
    justify-self: end;
    width: 25px;
    height: 25px;
    border-inline-end: 1px solid var(--corner-color);
    border-block-start: 1px solid var(--corner-color);
}

.decorated-zone::after {
    content: "";
    grid-area: third-row;
    align-self: flex-end;
    width: 25px;
    height: 25px;
    border-inline-start: 1px solid var(--corner-color);
    border-block-end: 1px solid var(--corner-color);
}

/* Header */

.header {
    position: relative;
    display: grid;
    padding: var(--padding-desktop);
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
   "top-row"
   "second-row"
   "third-row";
    height: 100vh;
    min-height: 668px;
    color: var(--highlighted-area);
    margin: 0 auto;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: none;
    text-align: center;
    padding-top: 0;
    padding-bottom: 3px;
    color: var(--text-button);
    font-size: var(--font-size);
    line-height: 1em;
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
}

.page-title {
    color: var(--heading-color);
    font-weight: var(--font-weight-bold);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-size: var(--title-size);
    text-shadow: 4px 4px 0 var(--shadow);
    line-height: 6.188rem;
    grid-area: second-row;
}

.header__title {
    color: var(--text-color-transparent);
    font-weight: 700;
    background: var(--highlighted-area);
    align-self: center;
    justify-self: end;
    grid-area: third-row;
}


.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--padding-mobile);
    width: max-content;
    grid-area: top-row;
}


.header__theme-menu-button:hover {
    border-bottom: 1px solid var(--border-style__hover);
    outline-offset: 1px;
}

.header__theme-menu-button_active {
    border: 1px solid var(--border-style);
    pointer-events: none;
}

.header__theme-menu-button:focus {
    outline: none;
    border-bottom: var(--border-style);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: var(--border-style);
}

/* Main */

.main {
 background-color: var(--background-color);
}

.main a {
    border: 1px solid transparent;
    text-decoration: none;
    text-shadow: 1px 1px 0 var(--text-color-highlight);
}


.main a:hover {
    border-bottom: 1px solid currentColor;
}

.main a:focus {
    outline: none;
}

.main a:focus-visible {
    border: 1px solid currentColor;
}

.title-question {
    grid-column: 1 / 2;
    font-weight: var(--font-weight-bold);
}

.main-text-container {
    grid-column: 2 / 3;
    width: 100%;
}

.article-container, .tips-container {
    display: grid;
    grid-template-columns: auto 66%;
    align-items: start;
    padding: var(--padding-desktop);
    padding-bottom: var(--padding-mobile);
}
/* Pictures */
.pictures__title {
    color: var(--text-color-transparent);
    background-color: var(--highlighted-area);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-block: 50px 20px;
}

.pictures__list img {
    width: 100%;
    object-fit: cover;
}

.pictures__list {
    display: grid;
    grid-gap: var(--padding-desktop);
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.pictures__item {
    display: grid;
    align-items: stretch;
}

.pictures {
    padding-bottom: 60px;
}

.pictures__item:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.pictures__item:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pictures__item:nth-of-type(3) {
    grid-row-start: 2;
    grid-row-end: 4;
}

.pictures__item:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* Other    */

h2, h3, h4 {
    text-align: left;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
}

.title-gap {
    margin-top: var(--padding-desktop);
}

.article-header {
    font-weight: var(--font-weight-bold);
}

.article-text {
        text-align: left;
        font-weight: var(--font-weight-normal);
}

p.article-text {
    padding-top: var(--padding-mobile);
    padding-bottom: var(--padding-desktop);
}

.article-container:first-of-type {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Footer */
.footer {
    height: 100vh;
    min-height: 668px;
    max-height: 768px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-self: center;
}

.footer__title {
    margin: 0;
    grid-row: 2;
    justify-self: center;
    font-weight: var(--font-weight-bold);
    color: var(--heading-color);
    text-shadow: 2px 2px 0 var(--text-color-highlight);
    font-size: var(--title-size);
}

.footer.decorated-zone {
    background-color: var(--background-color);
}

.rec-symbol {
    visibility: var(--rec-visibility);
}


@media (width <= 767px) { /* Resolution 375px */

    .page {
        max-width: 766px;
        min-width: 375px;
    }

    .header {
        max-width: 375px;
    }

    .footer {
        min-height: 668px;
    }

    .header__title {
        min-width: 335px;
        max-width: 766px;
    }

    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        margin-top: 2px;
        letter-spacing: 0.01em;
    }

    .pictures__title {
        margin-block: 50px 10px;
        margin-inline: 10px;
    }

    main p {
        font-size: var(--font-size);
        font-weight: var(--font-weight-normal);
        line-height: 1.463rem;
        font-family: var(--font-family);
        text-align: left;
    }

    .header__theme-menu {
        color: var(--text-color-highlight);
        align-self: end;
        justify-self: end;
        width: max-content;
        grid-area: top-row;
        margin-block: 65px;
    }

    .rec-symbol {
        position: absolute;
        display: flex;
        color: var(--highlight);
        right: 28px;
        top: 11px;
        font-size: 18px;
        justify-self: end;
        justify-content: end;
    }

    .rec-symbol::after {
        position: relative;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px var(--highlighted-area);
        background-color: var(--highlighted-area);
        left: 10px;
        top: 7px;
    }

    .decorated-zone::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        border-inline-end: 1px solid var(--corner-color);
        border-block-start: 1px solid var(--corner-color);
    }

    .decorated-zone::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 25px;
        height: 25px;
        border-inline-start: 1px solid var(--corner-color);
        border-block-end: 1px solid var(--corner-color);
    }

    .articles {
        padding: 0 10px;
    }

    .article-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .article-container:first-of-type {
        padding-top: 40px;
    }

    .pictures__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 10px 40px 10px;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    @media (prefers-color-scheme: dark) {
        .special-link {
            border-bottom: 1px solid var(--light);
        }
    }


}

/* Section 3 resolution mid */

@media (width > 768px) { /* Resolution bigger than 768px */
    .main-text-container {
        max-width: 648px;
    }
}

@media (768px <= width <= 1023px) {


    .page {
        min-width: 768px;
        max-width: 990px;
    }

    .rec-symbol {
        position: absolute;
        display: flex;
        gap: 10px;
        color: var(--highlight);
        top: 0;
        right: 10px;
        font-size: 18px;
        grid-area: top-row;
        justify-self: end;
    }

    .rec-symbol::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px var(--highlighted-area);
        background-color: var(--highlighted-area);
        align-self: center;
        justify-self: center;
    }

    .decorated-zone {
        position: relative;
    }

    .decorated-zone::before {
        content: "";
        position: absolute;
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
        border-inline-end: 1px solid var(--corner-color);
        border-block-start: 1px solid var(--corner-color);
    }

    .decorated-zone::after {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 25px;
        height: 25px;
        border-block-end: 1px solid var(--corner-color);
        border-inline-start: 1px solid var(--corner-color);
    }

    .header__theme-menu {
        width: 230px;
        justify-self: end;
        align-self: center;
        margin-top: 70px;
        max-width: 70px;
    }

    .header__title {
        margin-bottom: 70px;
        width: 364px;
    }

    .article-container p {
        text-align: left;
        font-weight: 400;
        padding-bottom: var(--padding-desktop);
        font-size: 18px;
        letter-spacing: -0.009em;
    }

    .title-question {
        width: 90%;
    }

    .textblocks-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: var(--padding-desktop)
    }

    .text-card:nth-of-type(1) {
        grid-column: 1;
    }

    .text-card:nth-of-type(2) {
        grid-column: 2;
    }

    .text-card:nth-of-type(3) {
        grid-column: 3;
    }

    .pictures__item:nth-of-type(1) {
        height: 192px;
    }

    .pictures__item:nth-of-type(2) {
        height: 441px;
    }

    .pictures__item:nth-of-type(3) {
        height: 568px;
    }

    .pictures__item:nth-of-type(4) {
        height: 230px;
    }

    .pictures__item:nth-of-type(5) {
        height: 318px;
    }

    .footer {
        height: 100vh;
        min-height: 668px;
    }

    .footer.decorated-zone {
        background-color: var(--background-color);
    }

    .footer__title {
        font-size: var(--title-size);
        line-height: 6.188rem;
    }
}

/* Section 4 big resolution */

@media (min-width: 1024px) { /* Resolution bigger than 1024px */

    .page {
        max-width: 1024px;
    }

    .header {
        max-height: 768px;
    }

    .rec-symbol {
        position: absolute;
        display: flex;
        gap: 10px;
        color: var(--highlight);
        top: 0;
        right: 7px;
        font-size: 18px;
        grid-area: top-row;
        justify-self: end;
    }

    .rec-symbol::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px var(--highlighted-area);
        background-color: var(--highlighted-area);
        align-self: center;
        justify-self: center;
    }

    .decorated-zone {
        position: relative;
    }

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .header__theme-menu {
        width: 230px;
        justify-self: center;
        align-self: start;
        grid-area: top-row;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .page-title {
        line-height: 8.096rem;
        grid-area: second-row;
        margin-left: -19px;
    }

    .header__title {
        width: 491px;
    }

    .textblocks-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
        padding-top: 0;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 40px
    }

    .textblocks-container.title-question {
        grid-column: 1;
        grid-row: 1;
    }

    .text-card:nth-of-type(1) {
        grid-column: 1;
    }

    .text-card:nth-of-type(2) {
        grid-column: 2;
    }

    .text-card:nth-of-type(3) {
        grid-column: 3;
    }


    .pictures__title {
        margin-inline: 20px
    }

    .pictures__list {
        margin-inline: 20px;
    }

    .pictures__item:nth-of-type(1) {
        height: 260px;
    }

    .pictures__item:nth-of-type(2) {
        height: 595px;
    }

    .pictures__item:nth-of-type(3) {
        height: 768px;
    }

    .pictures__item:nth-of-type(4) {
        height: 315px;
    }

    .pictures__item:nth-of-type(5) {
        height: 428px;
    }
}       