:root {
    --background-color: #000028;
    --text-color-main: #F1B2CE;
    --text-color-highlight: #FF0070;
    --text-color-transparent: #000028;
    --shadow: #FF0070;
    --highlighted-area: #ff0070;
    --heading-color: #DB00FF;
    --font-family: 'IBM Plex Mono', sans-serif;
    --font-size: 18px;
    --line-height: 1.463rem;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --border-style: 1px solid #ff0070;
    --border-style__hover: 1px solid rgba(255, 0, 112, 0.4);
    --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
    :root {
        --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

