/*
 Универсальные переменные , не связанные с темами
 обяъвлены  просто в :root . Переключение тем эти
 значения не изменяет
 */
:root {
    --line-height: 1.463rem;
    --line-height-titles: 25px;

    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-size: 18px;
    --font-family: 'IBM Plex Mono', system-ui, -apple-system, monospace, sans-serif;

    --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

    --padding-desktop:20px;
    --padding-mobile: 10px;

    --letter-spacing-condensed: -0.1rem;
    --letter-spacing-small: 0.052rem;
    --letter-spacing-medium: 0.1rem;
    --letter-spacing-large: 0.2rem;
    --letter-spacing-focus: 0.3rem;
}

@media (min-width: 768px) {
    :root {
        --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

/*
    Цветовая схема для темы по умолчанию.
 */
@media (prefers-color-scheme: no-preference) {
    :root {
        --background: var(--background, url('../images/cover-image.png'));
        --background-color: var(--background-color, var(--dark));

        --highlight: var(--highlight, var(--bright));
        --heading-color: var(--heading-color, var(--brightest));
        --highlighted-area: var(--highlighted-area, var(--bright));
        --text-color-highlight: var(--text-color-highlight, var(--bright));

        --text-color-main: var(--text-color-main, var(--light));
        --text-color-transparent: var(--text-color-transparent, var(--dark));

        --shadow: var(--shadow, var(--bright));

        --corner-color: var(--corner-color, var(--dusk));

        --border-style: var(--border-style, 1px solid var(--dusk));
        --border-style__hover: var(--border-style__hover, 1px solid var(--bright));
    }
}