:root {
    --background: url('../images/cover-image.png'); /*
    --hover: #FFFFFF;
    --bright: #FFFFFF; */

    --line-height: 1.463rem;
    --line-height-titles: 25px;

    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-size: 18px;
    --font-family: 'IBM Plex Mono', system-ui, -apple-system, monospace, sans-serif;

    --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

    --padding-desktop:20px;
    --padding-mobile: 10px;

    --letter-spacing-condensed: -0.1rem;
    --letter-spacing-small: 0.052rem;
    --letter-spacing-smallest: 0.0005em;
    --letter-spacing-medium: 0.1rem;
    --letter-spacing-large: 0.2rem;
    --letter-spacing-focus: 0.3rem;

    --rec-display: none;
    --rec-visibility: hidden;
}

.page.theme_auto {
    --corner-color: var(--bright);
    --border-style: var(--bright);
    --border-style__hover: var(--hover);
}



@media (min-width: 768px) {
    :root {
        --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (max-width: 374px) {
    .rec-symbol {
        display: var(--rec-display);
        visibility: var(--rec-visibility);
    }
}

