:root {
    --background-color: #000028;
    --text-color-main: #F1B2CE;
    --text-color-highlight: #FF0070;
    --text-color-transparent: #000028;
    --shadow: #FF0070;
    --highlighted-area: #ff0070;
    --heading-color: #DB00FF;
    --font-family: 'IBM Plex Mono', sans-serif;
    --font-size: 18px;
    --line-height: 1.4625rem;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --border-style: 1px solid #ff0070;
    --border-style__hover: 1px solid rgba(255, 0, 112, 0.4);
}

