@media (1023px <= width) {

    .page {
        width: 1024px;
    }

    .header {
        height: 768px;
        width: 1024px;
        padding: 20px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "top-row"
        "second-row"
        "third-row";
    }

    .rec-symbol {
        position: relative;
        justify-self: end;
        align-self: start;
        right: 10px;
        grid-area: top-row;
    }

    .rec-symbol::after {
        content: "";
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px var(--highlighted-area);
        background-color: var(--highlighted-area);
        margin-left: 5px
    }

    .decorated-zone {
        position: relative;
    }

    .decorated-zone::before {
        content: "";
        position: absolute;
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
        border-inline-end: 1px solid var(--highlighted-area);
        border-block-start: 1px solid var(--highlighted-area);
    }

    .decorated-zone::after {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 25px;
        height: 25px;
        border-inline-start: 1px solid var(--highlighted-area);
        border-block-end: 1px solid var(--highlighted-area);
    }

    .header__theme-menu {
        justify-self: center;
        align-self: start;
        grid-area: top-row;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__theme-menu-button {
        min-inline-size: 70px;
        letter-spacing: 0.1em;
        padding: 3px 13px;
    }

    .header__theme-menu-button:hover {
        border: var(--border-style__hover);
        border-block-end: 1px solid transparent;
        color: var(--text-color-highlight);
        font-size: 18px;
        text-align: center;
        text-transform: lowercase;
        background-color: transparent;
        cursor: pointer;
        min-inline-size: 70px;
    }

    .header__theme-menu-button:focus {
        border: var(--border-style__hover);
        border-block-end: 1px solid transparent;
        color: var(--text-color-highlight);
        font-size: 18px;
        text-align: center;
        text-transform: lowercase;
        background-color: transparent;
        cursor: pointer;
        min-inline-size: 70px;
    }

    .header__theme-menu-button:focus-visible {
        border: var(--border-style__hover);
        border-block-end: 1px solid transparent;
        color: var(--text-color-highlight);
        font-size: 18px;
        text-align: center;
        text-transform: lowercase;
        background-color: transparent;
        cursor: pointer;
        min-inline-size: 70px;
    }

    .header__theme-menu-button_active {
        border: var(--border-style__hover);
        cursor: pointer;
    }

    .page-title {
        font-size: var(--title-size);
        text-shadow: 4px 4px 0 var(--text-color-highlight);
        letter-spacing: -0.1rem;
        line-height: 6.188rem;
        justify-self: start;
        align-self: center;
        grid-area: second-row;
        transform: scaleX(1.1);
    }

    .focus-space {
        letter-spacing: 0.3em;
    }
    .header__title {
        margin-bottom: 50px;
        text-align: left;
        width: 491px;
        align-self: center;
        justify-self: end;
        grid-area: third-row;
    }

    h2:not(.pictures__title):not(.footer__title) {
        margin: 50px 20px 10px 10px;
    }

    h3, h4 {
        text-align: left;
    }

    h3 {
        margin: 10px auto;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p {
        text-align: left;
    }

    .article-container {
        display: grid;
        grid-template-columns: 45% auto;
    }

    .title-question {
        grid-column: 1 / 2;
        width: 60%;
    }

    .one-column {
        grid-column: 2 / 3;
        width: 100%;
        letter-spacing: 0.059em;
    }

    .rows-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        letter-spacing: 0.1em
    }

    .dense-title {
        grid-column: 1;
    }

    .multitasking {
        grid-column: 1;
    }

    .food {
        grid-column: 2;
    }

    .gadgets {
        grid-column: 3;
    }

    .golden-fish-question {
        width: 60%;
    }


    .pictures__title {
        text-align: left;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .pictures__cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        margin-bottom: 65px;
    }

    .sunset {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 192px;
    }

    .ice-cream {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 441px;
    }

    .tape {
        grid-row-start: 2;
        grid-row-end: 4;
        height: 568px;
    }

    .street {
        grid-column-start: 2;
        grid-column-end: 4;
        height: 318px;
    }

    .books {
        height: 230px;
    }

    .pictures__cards img {
        width: 100%;
    }

    .footer {
        min-height: 668px;
    }

    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}
